.map-container {
  width: 100%;
  max-width: 700px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-in-out;
}

.map-show {
  height: 400px;
  opacity: 1;
  transform: translateY(0);
}

.map-hide {
  height: 0;
  opacity: 0;
  transform: translateY(40px);
}
