/* Banner */
.contact-banner {
  background: linear-gradient(90deg, #ff6b00, #a33900);
}

/* Labels */
.contact-page label {
  font-weight: 500;
  font-size: 0.9rem;
  color: #333;
}

/* Button */
.contact-btn {
  background-color: #ff6b00;
  border: none;
  transition: 0.3s ease;
}
.contact-btn:hover {
  background-color: #a33900;
}

/* Icon box */
.icon-box {
  background-color: #fff4eb;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Orange text */
.text-orange {
  color: #ff6b00 !important;
}
.map-container {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
}

.contact-page .card {
  background-color: #fff;
}

.contact-page .text-orange {
  color: #f15a24;
}

